<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Eğer dosya veya klasör değilse, index.html'e yönlendir
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
